@font-face {
    font-family: "ChinaCyr"; /* имя шрифта для CSS правил */
    src: local("ChinaCyr"), /* проверяем наличие шрифта в ОС пользователя */
    url('font_family/ChinaCyr/chinacyr-webfont.eot');
    url('font_family/chinacyr-webfont.ttf');
}
/* Лучший способ для подключения шрифтов */
@font-face {
    font-family: 'a_stamperbold';
    src: url('font_family/a_Stamper/00yotj7d-webfont.eot');
    src: local('a_stamperbold'), local('a_stamperbold'),
    url('font_family/a_Stamper/00yotj7d-webfont.eot?#iefix') format('embedded-opentype'),
    url('font_family/a_Stamper/00yotj7d-webfont.woff') format('woff'),
    url('font_family/a_Stamper/00yotj7d-webfont.ttf') format('truetype'),
    url('font_family/a_Stamper/00yotj7d-webfont.svg#europeextnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* = Убираем маркировку списков */
ul,
ol {
    list-style: none;
}

h1, h2{
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
}
h1{
    font-size: 24px;
}


/* = Работаем с таблицами: убираем удвоение рамок ячеек и расстояние между ячейками */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* = Ссылки */

a {
    text-decoration: none;
    color: #ffffff;
}

/* = Убираем рамку для изображений */

img {
    border: none;
    max-width: 100%;
}

/* = Убираем обводку при клике на элементы форм и др. */

:focus {
    outline: 0;
}

/* = Сбрасываем выравнивание после плавающих элементов */

.clear {
    clear: both;
    height: 1px;
    margin-top: -1px;
}
hr.bold {
    border-bottom: 4px black solid;
}
html {
    background: url("../images/bg.jpeg");
    min-height: 100%;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    min-height: 100%;
    overflow-x: hidden;
}

.font_family{
    font-family: "ChinaCyr";
    font-size: 20px;
    font-weight: 600;
}
.font_s_16{
    font-size: 16px !important;
}

#page_menu h2,.lanch_title,.lanch_prise
{
    font-family: 'a_stamperbold';
}


.active{
    color: gold !important;
}

#body_top {
    background: url('../images/index_bg.png') repeat-x top center;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 150px;
    padding-top: 170px;
}

/* HEADER */
#header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 1000;
    position: absolute;
    top: 0;
    color: #ffffff;

}

#logo {
    position: absolute;
    top: 15px;
    left: 325px;
}
#shop_card{
    background-image: url("../images/icon/basket_shop.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 36px;
    position: absolute;
    top: 26px;
    right: 148px;
    width: 94px;
    line-height: 53px;
    height: 38px;
    text-align: right;
    font-size: 18px;
}
#logo img {
    width: 320px;
}
#head_social {
    position: absolute;
    right: 0px;
    top: 30px;
}
#head_social li{
    float: left;
}
#head_social li a{
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("../images/icon/soc_buttons.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    margin-left: 20px;
}
#head_social li a.vk{
    background-position: -50px center;
}
#head_adress{
    position: relative;
    float: right;
    font-family: a_stamperbold;
    font-size: 13px;
    top: 80px;
}
#head_adress p{
    margin-top: 5px;
    letter-spacing: 1px;
}
#head_actions a{
    position: absolute;
    display: block;
    left: 0px;
    top: 20px;
    background-image: url("../images/icon/ico_shar.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 15px;
    line-height: 20px;
    height: 30px;
}
#head_actions a.reserve{
    top: 60px;
    background-image: url("../images/icon/reserve.png");
}
nav#menu {
    font-family: a_stamperbold;
    letter-spacing: 2px;
    position: absolute;
    top: 125px;
    left: 0px;
}

nav#menu ul li {
    float: left;
    margin-right: 15px;
}

.wrepper {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /*outline: 1px solid #66ff66;*/
}

#page {
    width: 980px;
    min-height: 700px;
    position: relative;
}

.bg_opacity{
    /*background: url("../images/bg_opacity50.png");*/
    background-color: rgba(255, 255, 255, 0.85);
}

/* LEFT-BLOCK */
#lift_block{
    width: 20%;
    float: left;
    box-sizing: border-box;
}

#left_head{
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    float: left;
    line-height: 1.3em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1px;
}
#lift_block ul{
    float: left;
    margin-top: 5px;
    clear: left;
    width: 100%;
    padding-right: 1px;
    box-sizing: border-box;
}
#lift_block ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 1px;
    width: 100%;
    text-align: center;
    color: black;
}
#lift_block ul li a{
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

/* CONTENT */
#content{
    float: left;
    width: 80%;
    /* background-image: url('/interface/white_alpha75.png'); */
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px 30px 20px 30px;
    text-align: justify;
    line-height: 1.5em;
    color: black;
    box-shadow: 4px 4px 8px 0px #606060;
    box-sizing: border-box;
}

#content > h3{
    font-size: 12px;
    text-align: center;
    color: #545454;
    text-transform: uppercase;
}
/* PAGE MENU */
#page_menu{
    width: 100%;
    min-height: 300px;
    background: #ffffff;
    padding-bottom: 80px;
    position: relative;
}
#page_menu img{
    position: absolute;
    width: 250px;
    top: 100px;
    left: 238px;
}
#page_menu h2{
    font-size: 24px;
    padding-top: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #2b2b2b;
}
#page_menu h3{
    text-align: center;
    margin-top: 11px;
    color: gold;
    font-weight: 400;
}
#dish_list{
    margin: 10px 50px 10px 60px;
    color: #2b2b2b;
    position: relative;
}
#dish_list li{
    margin-top: 45px;
}
.dish_item > p{
    border-bottom: 2px dotted #2b2b2b;
}
#dish_list p b{
    font-size: 20px;
}
span.dish_wight{
    font-size: 12px;
}
span.dish_price{
    float: right;
    color: gold;
    font-weight: bold;
    font-size: 20px;
}
#dish_item > small {
    font-weight: 600;
    font-size: 14px;
    color: #696969;
}
.dish_kall{
    float: right;
    color: #3AB54A;
    font-weight: 600;
}
.right{
 float: right;
}
.dish_add_bt{

    height: 26px;
    width: 95px;
    border: 1px solid #cccccc;
    background-image: url("../images/icon/basket.png");
    display: block;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 2px center;
}
.dish_add_bt input{
    border: 1px solid;
    padding: 3px;
    background: #b2b2b2;
}
.added_dish{
    position: absolute;
    background-image: url("../images/icon/checkmark.png");
    background-position: left center;
    background-size: 32px;
    background-repeat: no-repeat;
    left: -41px;
    width: 32px;
    height: 32px;
}


.dish_lanch{
    width: 90%;
    margin: 80px auto;
    min-height: 300px;
    border: 3px dashed;
}
.lanch_title{
    font-size: 18px;
    text-align: center;
    margin: 20px;
    letter-spacing: 2px;
}
.dish_lanch p{
    text-align: center;
    font-size: 18px;
    margin-top: 12px;
    text-transform: uppercase;
}
.lanch_date{
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 12px;
    color: #b2b2b2;
}
.fitness{
    background-image: url("../images/icon/fitnes.png");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left center;
    width: 60px;
    text-align: right;
    height: 25px;
    color: #00B842;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    top: 20px;
    right: 50px;
}
.lanch_prise{
    color: white;
    text-align: center;
    width: 70px;
    margin: 10px auto;
    font-size: 20px;
    padding: 5px;
    border: 1px solid gold;
    background: gold;
}
.dish_lanch a.dish_add_bt{
    margin: 10px auto;
}
/* SLIDER */

.annos{
    width: 500px;
    height: 500px;
    position: absolute;
    padding: 20px;
    top: 10%;
    left: 27%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 50%;
    z-index: 999;
}

.annos h1,.annos h3{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;

}
.annos h3{
    font-size: 40px;
}

.slider_container{
    width:980px;
    margin:auto;
    clear:both;
    background:url("../images/slider/shadow_top.png") no-repeat top center;
}
.flex-caption{
    position: absolute;
    right:11px;
    bottom:20px;
}
.caption_title_line{
    width:450px;
    height:75px;
    padding:5px 15px 10px 15px;
    background:url("../images/slider/slider_caption_bg.png") repeat;
    color: #303030;
}
.flex-caption h2{
    color:#303030;
    font-size:20px;
    padding:5px 0 5px 0;
    margin:0px;
    font-family: 'Ovo', serif;
}

.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    width: 100%;
    margin: 0;
    padding: 0 0 30px 0;
    background:url("../images/slider/shadow_bottom.png") no-repeat center bottom;
}
.flexslider .slides li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    max-width: 100%;
    display: block;
    /*border:10px #ededed solid;*/
}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.no-js .slides li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides li {position: relative;}
.flex-container {zoom: 1; position: relative;}

/* Direction Nav */
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:11px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url("../images/slider/next.png") no-repeat center !important; bottom:184px;}
.flex-direction-nav li a.prev {background:url("../images/slider/prev.png") no-repeat center !important;bottom:141px;}
.flex-direction-nav li a.next:hover {background:url("../images/slider/next_a.png") no-repeat center !important;}
.flex-direction-nav li a.prev:hover {background:url("../images/slider/prev_a.png") no-repeat center !important;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}





/* BANKET */
.banket_icon{
    width: 100%;
    text-align: center;
}
.banket_icon li{
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 14px;
    margin: 10px;
    position: relative;
    font-weight: 400;
}
.banket_icon li span{
    background-image: url("../images/icon/banket_icoons%20(1).png");
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    top: 11px;
    height: 34px;
}
span.puople{
    width: 40px;
}
span.banket_price{
    background-position: -40px center;
    width: 27px;
}
span.banket_table{
    background-position: -87px center;
    width: 27px;
}
span.banket_interer{
    background-position: -114px center;
    width: 34px;
}
span.banket_sale{
    background-position: -146px center;
    width: 34px;
}
span.banket_surprise{
    background-position: -176px center;
    width: 27px;
}
.btn{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    display: inline-block;
}
.btn_banket{
    margin-bottom: 15px;
    margin-top: 10px;
}
.banket_item {
    margin-top: 20px;
}
/* SLIDER BANKET */
.banket_page >.slider_container{
    width: 720px;
    margin: inherit;
}

 div.banket_page ul.flex-direction-nav > li > a.next{
    bottom: 72px;
    right: 0px;
}
 div.banket_page ul.flex-direction-nav > li > a.prev{
    bottom: 29px;
    right: 0px;
}

div.banket_page ol.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -5px;
    text-align: center;
}
div.banket_page ol.flex-control-nav li a{
    background-image: url("../images/slider/gallery-dot.png");
    background-repeat: no-repeat;
    background-position: -13px;
}

div.banket_page ol.flex-control-nav li a.active{
    background-position: 0px;
}



/* SVADBA */
.head_block_bl{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    text-align: center;
    padding: 10px;
}
#content .head_block_bl{
    background-color: black;
    color: white;
    margin-bottom: 20px;
}
#content p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#content a{
    text-decoration: underline;
    color: #080808;
}
    /* FOOTER */
#footer{
    width: 100%;
    height: 75px;
    position: relative;
    margin-bottom: -150px;
    position: relative;
    margin-top: 10px;
    background-image: url('../images/footer_bg.png');
}
#footer_social{
    position: absolute;
    left: -20px;
    top: 30px;
}
#footer_social li{
    float: left;
}
#footer_social li a{
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("../images/icon/soc_buttons_inv.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    margin-left: 20px;
}
#footer_social li a.vk{
    background-position: -50px center;
}
ul#footer_nav {
    position: absolute;
    top: 27px;
    left: 220px;
}
ul#footer_nav li{
    float: left;
    padding: 5px;
    text-transform: uppercase;
    margin-left: 15px;
}
ul#footer_nav li a{
    color: #080808;
}
#logo_footer{
    float: right;
    margin-top: 10px;
}

/* MEDIA QUERYS */

/*SLIDER*/
@media screen and (max-width: 1000px) {
    .slider_container{ width:90%; margin:0 0 0 2%; clear:both; background:none; padding:30px 0 0 0;}
    .flexslider {width: 100%; margin: 0; padding:0 0 30px 0;background:none;}
    .flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:-10px; cursor: pointer; text-indent: -9999px;}
    .flex-direction-nav li a.next {background:url("../images/slider/next.png") no-repeat center; bottom:85px;}
    .flex-direction-nav li a.prev {background:url("../images/slider/prev.png") no-repeat center;bottom:40px;}
    .flex-caption { display:none;}
}
